<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default"/>
<f:section name="main">
    <section class="homeSection homeSection__titleSmall">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <f:if condition="{settings.title}">
                        <h2>{settings.title}</h2>
                    </f:if>
                    <div class="viewpoints">
                        <div class="viewpoints__left">
                            <!-- start: Viewpoints Left -->
                            <f:for each="{viewPointsLatestLimited}" as="viewPoint" iteration="viewPointIterator">
                                <f:if condition="{viewPointIterator.index} == 3">
                                    </div>
                                    <div class="viewpoints__right">
                                </f:if>
                                <!-- start: Viewpoints Item -->
                                <div data-index={viewPointIterator.index} data-cycle="{viewPointIterator.cycle}"
                                     class="viewpoints__item viewpoints__item--{f:if(then: 'fullWidth', else: 'halfWidth', condition: '{viewPointIterator.index} > 1 && {viewPointIterator.index} < 4')}">
                                    <f:if condition="{settings.detailPid}">
                                        <!-- start: Related Item -->
                                        <figure>
                                            <f:link.action pluginName="viewpoints" pageUid="{settings.detailPid}"
                                                           action="show" arguments="{viewPoint : viewPoint}">
                                                <f:image class="image-embed-item"
                                                         image="{viewPoint.image}"
                                                         maxWidth="591c"
                                                         maxHeight="361c"
                                                         width="591c"
                                                         height="361c" />
                                            </f:link.action>
                                        </figure>
                                        <div class="viewpoints__item__info">
                                            <h3>
                                                <f:link.action pluginName="viewpoints" pageUid="{settings.detailPid}"
                                                               action="show" arguments="{viewPoint : viewPoint}">
                                                    {viewPoint.title}
                                                    {f:if(condition: viewPoint.teaser, then: viewPoint.teaser)}
                                                </f:link.action>
                                            </h3>
                                            <f:link.action pluginName="viewpoints" pageUid="{settings.detailPid}"
                                                           class="icon arrow-right-small" action="show"
                                                           arguments="{viewPoint : viewPoint}">
                                                {f:translate(key:
                                                'tx_ironviewpoints_domain_model_viewpoint.view_more', extensionName: 'iron_viewpoints')}
                                            </f:link.action>
                                        </div>
                                        <!-- end: Related Item -->
                                    </f:if>
                                </div>
                                <!-- end: Viewpoints Item -->
                            </f:for>
                            <!-- end: Viewpoints Left -->
                        </div>
                    </div>
                    <f:if condition="{settings.link}">
                        {f:translate(key:
                        'tx_ironviewpoints_domain_model_viewpoint.further_points_of_view', extensionName: 'IronViewpoints') -> v:variable.set(name: 'further_points_of_view')}
                        <f:link.typolink
                                class="icon arrow-right-small"
                                parameter="{settings.link}"
                                target="_blank">
                            {f:if(condition: settings.label, then: settings.label, else: further_points_of_view)}
                        </f:link.typolink>
                    </f:if>

                </div>
            </div>
        </div>
    </section>
</f:section>
</html>
