<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
    <f:if condition="{settings.listOfAllViewpoints}">
        <f:then>
            <f:render section="listOfAllViewpoints" arguments="{_all}"/>
        </f:then>
        <f:else>
            <f:render section="listDefault" arguments="{_all}"/>
        </f:else>
    </f:if>
</f:section>

<f:section name="listDefault">
    <section class="grey" data-id="c{contentUid}">
        <div class="container">
            <div class="row sectionTitle">
                <div class="col-xs-12 col-sm-4 col-md-3 sectionTitle__headline">
                    <f:if condition="{settings.title}">
                        <h2>{settings.title}</h2>
                    </f:if>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-7">
                    <div class="viewpointsList__current">
                        <f:for each="{viewPoints}" as="viewPoint">
                            <f:if condition="{settings.detailPid}">
                                <!-- start: Related Item -->
                                <div class="viewpointsList__current__item">
                                    <f:if condition="{viewPoint.image}">
                                        <figure>
                                            <f:link.action pageUid="{settings.detailPid}" action="show"
                                                           arguments="{viewPoint : viewPoint}">
                                                <f:image class="image-embed-item" image="{viewPoint.image}"
                                                         maxWidth="591c"
                                                         maxHeight="361c" width="591c" height="361c"/>
                                            </f:link.action>
                                        </figure>
                                    </f:if>
                                    <h3>
                                        <f:link.action pageUid="{settings.detailPid}" action="show"
                                                       arguments="{viewPoint : viewPoint}">{viewPoint.title}
                                        </f:link.action>
                                    </h3>
                                </div>
                                <!-- end: Related Item -->
                            </f:if>
                        </f:for>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row sectionTitle">
                <div class="col-xs-12 col-sm-offset-4 col-sm-8 col-md-offset-3 col-md-7 viewpointsList__more">
                    <f:if condition="{settings.title}">
                        <h2>{settings.periods_title}</h2>
                    </f:if>
                    <div class="tabs">
                        <ul>
                            <f:for each="{periods}" as="period" iteration="groupIterator" key="datePeriod">
                                <li><a href="#tabs-{groupIterator.cycle}">{period.start -> f:format.date(format:'Y')} -
                                    {period.end -> f:format.date(format:'Y')}</a></li>
                            </f:for>
                        </ul>
                        <f:for each="{periods}" as="period" iteration="periodsIterator">
                            <div id="tabs-{periodsIterator.cycle}">
                                <f:for each="{period.viewpoints}" as="viewpoint" iteration="viewpointIterator">
                                    <!-- start: Viewpoints Item -->
                                    <div class="viewpointsList__more_item">
                                        <p>
                                            <f:format.date format="d.m.Y">{viewpoint.date}</f:format.date>
                                        </p>
                                        <h3>
                                            <f:link.action pageUid="{settings.detailPid}" action="show"
                                                           arguments="{viewPoint : viewpoint}">{viewpoint.title}
                                            </f:link.action>
                                        </h3>
                                        <f:link.action pageUid="{settings.detailPid}" class="icon arrow-right"
                                                       action="show"
                                                       arguments="{viewPoint : viewpoint}">
                                            &nbsp;
                                        </f:link.action>
                                    </div>
                                    <!-- end: Viewpoints Item -->
                                </f:for>
                            </div>
                        </f:for>
                    </div>
                </div>
            </div>
        </div>
    </section>
</f:section>
<f:section name="listOfAllViewpoints">
    <f:if condition="{viewPointsAll}">
        <section data-id="c{contentUid}">
            <div class="container viewpointsDetail__related__section">
                <div class="row sectionTitle">
                    <div class="col-xs-12 col-sm-4 col-md-3 sectionTitle__headline sectionTitle__headline__related">
                        <f:if condition="{settings.title}">
                            <h2>{settings.title}</h2>
                        </f:if>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-7 viewpointsDetail">
                        <div class="viewpointsDetail__related">
                            <f:for each="{viewPointsAll}" as="viewPoint">
                                <!-- start: Related Item -->
                                <div class="viewpointsDetail__related__item">
                                    <figure>
                                        <f:link.action pageUid="{settings.detailPid}" action="show"
                                                       arguments="{viewPoint : viewPoint}">
                                            <f:if condition="{viewPoint.image}">
                                                <f:image maxWidth="591c" maxHeight="361c" width="591c" height="361c"
                                                         class="image-embed-item" image="{viewPoint.image}"/>
                                            </f:if>
                                        </f:link.action>
                                    </figure>
                                    <h3>
                                        <f:link.action pageUid="{settings.detailPid}" action="show"
                                                       arguments="{viewPoint : viewPoint}">
                                            <f:if condition="{viewPoint.title}">
                                                {viewPoint.title}
                                            </f:if>
                                        </f:link.action>
                                    </h3>
                                </div>
                                <!-- end: Related Item -->
                            </f:for>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </f:if>
</f:section>
</html>
