<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="main">
    <f:if condition="{listFurtherViewPoints}">
        <section data-id="c{contentUid}">
            <div class="container viewpointsDetail__related__section">
                <div class="row sectionTitle">
                    <div class="col-xs-12 col-sm-4 col-md-3 sectionTitle__headline sectionTitle__headline__related">
                        <f:if condition="{settings.title}">
                            <h2>{settings.title}</h2>
                        </f:if>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-7 viewpointsDetail">
                        <div class="viewpointsDetail__related">
                            <f:for each="{listFurtherViewPoints}" as="further">
                                <!-- start: Related Item -->
                                <div class="viewpointsDetail__related__item">
                                    <f:if condition="{further.image}">
                                        <figure>
                                            <f:link.action pageUid="{settings.detailPid}" action="show"
                                                           arguments="{viewPoint : further}">
                                                <f:image maxWidth="591c" maxHeight="361c" width="591c" height="361c"
                                                         class="image-embed-item" image="{further.image}"/>
                                            </f:link.action>
                                        </figure>
                                    </f:if>
                                    <h3>
                                        <f:link.action pageUid="{settings.detailPid}" action="show"
                                                       arguments="{viewPoint : further}">
                                            <f:if condition="{further.title}">
                                                {further.title}
                                            </f:if>
                                        </f:link.action>
                                    </h3>
                                </div>
                                <!-- end: Related Item -->
                            </f:for>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </f:if>
</f:section>
</html>