
<label for="title">
	<f:translate key="tx_ironstudies_domain_model_study.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="image">
	<f:translate key="tx_ironstudies_domain_model_study.image" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="text">
	<f:translate key="tx_ironstudies_domain_model_study.text" />
</label><br />
	<f:form.textarea property="text" cols="40" rows="15" /><br />
<label for="date">
	<f:translate key="tx_ironstudies_domain_model_study.date" />
</label><br />
	<f:form.textfield property="date"  value="{study.date->f:format.date()}" /><br />