<f:form name="order" controller="Order" action="process" pluginName="form" pageType="226688" object="{order}" class="form validate" id="form_study_order">
    <f:for each="{data}" as="study" iteration="i">
        <div class="form-row">
            <f:if condition="{study}">
                <f:form.checkbox id="id{study.uid}" property="study.{i.index}" value="{study.uid}" />
                <label for="id{study.uid}">„{study.title}“</label>
            </f:if>
        </div>
    </f:for>
    <div class="form-row">
        <f:form.textfield property="firstName" placeholder="{f:translate(key: 'tx_ironstudies_domain_model_study.first_name')} *" required="1" />
    </div>
    <div class="form-row">
        <f:form.textfield property="lastName" placeholder="{f:translate(key: 'tx_ironstudies_domain_model_study.last_name')} *" required="1" />
    </div>
    <div class="form-row">
        <f:form.textfield property="company" placeholder="{f:translate(key: 'tx_ironstudies_domain_model_study.company')}"/>
    </div>
    <div class="form-row">
        <f:form.textfield property="email" placeholder="{f:translate(key: 'tx_ironstudies_domain_model_study.email')} *" required="1" />
    </div>
    <div class="form-row">
        <f:form.textarea property="message" placeholder="{f:translate(key: 'tx_ironstudies_domain_model_study.text')}"/>
    </div>
    <div class="form-row">
        <f:form.submit value="{f:translate(key: 'tx_ironstudies_domain_model_study.download_pdf')}"/>
    </div>
</f:form>