<section xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <section data-id="c{contentUid}">
        <div class="container">
            <div class="row sectionTitle">
                <div class="col-xs-12 col-sm-4 col-md-3 sectionTitle__headline">
                    <f:link.page pageUid="{settings.listPid}" class="icon arrow-back">
                        {f:translate(key: 'tx_ironstudies_domain_model_study.back' )}
                    </f:link.page>
                    <f:comment>
                        <div class="viewpointsDetail__moreInfo">
                            <p>{f:translate(key: 'tx_ironstudies_domain_model_study.projectInformationen')}</p>
                            <f:if condition="{study.link}">
                                <f:link.typolink parameter="{study.link}" class="icon arrow-right-small">
                                    {f:translate(key:
                                    'tx_ironstudies_domain_model_study.link_to_studie')}
                                </f:link.typolink>
                            </f:if>
                        </div>
                        <a href="#" class="icon arrow-right-small">{f:translate(key:'tx_ironstudies_domain_model_study.newsletter_link' )}</a>
                    </f:comment>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-7 viewpointsDetail__content">
                    <f:if condition="{study.title}">
                        <h1>{study.title}</h1>
                    </f:if>
                    <f:if condition="{study.date}">
                        <p>{study.date -> f:format.date(format:'d.m.Y')}</p>
                    </f:if>
                    <div class="viewpointsDetail__share">
                        <p>{f:translate(key:
                            'tx_ironviewpoints_domain_model_viewpoint.share_article', extensionName:
                            'IronViewpoints')}</p>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div class="addthis_inline_share_toolbox"></div>
                    </div>
                    <f:if condition="{study.text}">
                        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{study.text}</f:format.html>
                    </f:if>
                    <f:if condition="{study.image}">
                        <figure>
                            <f:image image="{study.image}"/>
                        </figure>
                    </f:if>
                    <f:if condition="{viewPoint.image.originalResource.description}">
                        <p><i>{viewPoint.image.originalResource.description}</i></p>
                    </f:if>
                </div>
            </div>
        </div>
    </section>
</section>

{v:asset.script(path: 'EXT:iron_viewpoints/Resources/Public/Js/socialMediaShare.js')}