{v:page.header.title(title: viewPoint.title)}
<section xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <section>
        <div class="container">
            <div class="row sectionTitle">
                <div class="col-xs-12 col-sm-4 col-md-3 sectionTitle__headline">
                    <f:link.page pageUid="{settings.listPid}" class="icon arrow-back">
                        {f:translate(key: 'tx_ironviewpoints_domain_model_viewpoint.zuruck', extensionName:
                        'IronViewpoints')}
                    </f:link.page>
                    <f:if condition="{viewPoint.files}">
                        <div class="viewpointsDetail__moreInfo">
                            <p>{f:translate(key: 'tx_ironviewpoints_domain_model_viewpoint.projectInformationen',
                                extensionName: 'IronViewpoints')}</p>

                            <f:for each="{viewPoint.files}" as="file">
                                <f:if condition="{file.originalResource.publicUrl}">
                                    <a href="{file.originalResource.publicUrl}" class="icon download">{file.originalResource.name}</a>
                                </f:if>
                            </f:for>
                        </div>
                    </f:if>
                    <a href="#" class="icon arrow-right-small newsletterAnchor hidden-xs hidden-sm">{f:translate(key:
                        'tx_ironviewpoints_domain_model_viewpoint.NewsletterAbonnieren', extensionName:
                        'IronViewpoints')}</a>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-7 viewpointsDetail__content">
                    <f:if condition="{viewPoint.title}">
                        <h1>{viewPoint.title}</h1>
                    </f:if>
                    <f:if condition="{viewPoint.intro}">
                        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{viewPoint.intro}</f:format.html>
                    </f:if>
                    <div class="viewpointsDetail__share">
                        <p>{f:translate(key:
                            'tx_ironviewpoints_domain_model_viewpoint.share_article', extensionName:
                            'IronViewpoints')}</p>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div class="addthis_inline_share_toolbox"></div>
                    </div>
                    <f:if condition="{viewPoint.text}">
                        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{viewPoint.text}</f:format.html>
                    </f:if>
                    <f:if condition="{viewPoint.image}">
                        <figure>
                            <f:image image="{viewPoint.image}"/>
                        </figure>
                    </f:if>
                    <f:if condition="{viewPoint.additionalText}">
                        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{viewPoint.additionalText}</f:format.html>
                    </f:if>
                </div>
            </div>
        </div>
        <f:if condition="{viewPoint.related}">
            <div class="container viewpointsDetail__related__section">
                <div class="row sectionTitle">
                    <div class="col-xs-12 col-sm-4 col-md-3 sectionTitle__headline sectionTitle__headline__related">
                        <h2>{f:translate(key: 'tx_ironviewpoints_domain_model_viewpoint.further_points_of_view')}</h2>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-7 viewpointsDetail">
                        <div class="viewpointsDetail__related">
                            <f:for each="{viewPoint.related}" as="related">
                                <!-- start: Related Item -->
                                <div class="viewpointsDetail__related__item">

                                    <f:if condition="{related.image}">
                                        <figure>
                                            <f:link.action pageUid="{settings.detailPid}" action="show"
                                                           arguments="{viewPoint : related}">
                                                <f:image class="image-embed-item" image="{related.image}"/>
                                            </f:link.action>
                                        </figure>
                                    </f:if>
                                    <h3>
                                        <f:link.action pageUid="{settings.detailPid}" action="show"
                                                       arguments="{viewPoint : related}">
                                            <f:if condition="{related.title}">
                                                {related.title}
                                            </f:if>
                                        </f:link.action>
                                    </h3>
                                </div>
                                <!-- end: Related Item -->
                            </f:for>
                        </div>
                    </div>
                </div>
            </div>
        </f:if>
    </section>
</section>

{v:asset.script(path: 'EXT:iron_viewpoints/Resources/Public/Js/socialMediaShare.js')}