{namespace f=TYPO3Fluid\Fluid\ViewHelpers}
<f:layout name="Default"/>
<f:section name="main">
    <span id="c{contentUid}"></span>
    <section class="{f:if(condition: settings.grey, then: 'grey ')}team" id="team" data-id="c{contentUid}" data-source="{f:uri.action(action: 'list', pageType: 19852604, format: 'json', absolute: 1)}">
        <div class="container">
            <div class="row sectionTitle team__list">
                <div class="col-xs-12 col-sm-4 col-md-3 sectionTitle__headline">
                    <f:if condition="{settings.title}">
                        <h2>{settings.title}</h2>
                    </f:if>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9">
                    <f:for each="{data}" as="member">
                        <!-- start: Team Member Item -->
                        <div class="team__list__item">
                            <figure>
                                <a href="#" data-member-id="{member.uid}">
                                    <f:image image="{member.photo}"
                                             maxWidth="591c"
                                             maxHeight="361c" 
                                             width="591c"
                                             height="361c"/>
                                </a>
                            </figure>
                            <h3><a href="#" data-member-id="{member.uid}">{member.name}</a></h3>
                            <div class="team__list__item_content">
                            </div>
                        </div>
                        <!-- end: Team Member Item -->
                    </f:for>
                </div>
            </div>
            <div class="row sectionTitle team__detail">
                <div class="col-xs-12 col-sm-4 col-md-3 sectionTitle__headline">
                    <a href="#" class="icon arrow-back">{f:translate(key: 'tx_ironteammembers_domain_model_member.back')}</a>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-7 team__detail__content">

                </div>
            </div>
        </div>
    </section>
</f:section>