<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Period</h1>

<f:flashMessages />

<table  class="tx_ironviewpoints" >
	<tr>
		<th><f:translate key="tx_ironviewpoints_domain_model_period.start" /></th>
		<th><f:translate key="tx_ironviewpoints_domain_model_period.end" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{periods}" as="period">
		<tr>
			<td><f:link.action action="show" arguments="{period : period}"> {period.start -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{period : period}"> {period.end -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{period : period}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{period : period}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Period</f:link.action>
</f:section>
</html>