<f:layout name="Default"/>

<f:section name="main">
    <section data-id="c{contentUid}">
        <div class="container studiesWrapper"
             data-source="{f:uri.action(action: 'list', pageType: 87779948, format: 'json', absolute: 1)}">
            <div class="studiesList">
                <div class="row sectionTitle">
                    <div class="col-xs-12 col-sm-4 col-md-3 sectionTitle__headline">
                        <f:if condition="{settings.title}">
                            <h1>{settings.title}</h1>
                        </f:if>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-7">
                        <div class="studies">
                            <f:for each="{data}" as="study">
                                <!-- start: Study Item -->
                                <div class="studies__item">
                                    <figure>
                                        <f:if condition="{study.image}">
                                            <f:link.typolink parameter="{study.link}">
                                                <f:image class="image-embed-item" image="{study.image}" height="321"/>
                                            </f:link.typolink>
                                        </f:if>
                                    </figure>
                                    <f:if condition="{study.date}">
                                        <p class="date">
                                            <f:format.date format="%B %Y">{study.date}</f:format.date>
                                        </p>
                                    </f:if>
                                    <f:if condition="{study.title}">
                                        <h2>{study.title}</h2>
                                    </f:if>

                                    <f:if condition="{study.link}">
                                        <f:link.typolink parameter="{study.link}">
                                            {f:translate(key: 'tx_ironstudies_domain_model_study.focus')}
                                        </f:link.typolink>
                                    </f:if>
                                    <f:if condition="{study.additionalLink}">
                                        <a href="#" class="icon arrow-right" data-study-id="id{study.uid}">
                                            {f:translate(key: 'tx_ironstudies_domain_model_study.order_study')}
                                        </a>
                                    </f:if>
                                </div>
                                <!-- end: Study Item -->
                            </f:for>
                        </div>
                        {v:variable.convert(value: settings.limit, type: 'integer') -> v:variable.set(name: 'limit')}
                        <f:if condition="{count} > {limit}">
                            <a href="#" class="showStudies">
                                {f:if(condition: settings.more_studies, then: settings.more_studies)}
                            </a>
                        </f:if>
                    </div>
                </div>
            </div>
            <div class="studyForm">
                <div class="row sectionTitle">
                    <div class="col-xs-12 col-sm-4 col-md-4 sectionTitle__headline">
                        <a href="#" class="icon arrow-back">{f:translate(key: 'tx_ironstudies_domain_model_study.back')}</a>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-4">
                        <f:if condition="{settings.order_form_heading}">
                            <h2>{settings.order_form_heading}</h2>
                        </f:if>
                        <f:render partial="Study/Form" arguments="{_all}" />

                        <div class="disclaimer">
                            <f:if condition="{settings.disclamer}">
                                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{settings.disclamer}</f:format.html>
                            </f:if>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</f:section>
