<thead>
    <tr>
        <th></th>
        <th>{f:translate(key: 'tx_irontop10deals_domain_model_deal.dealvalue')}</th>
        <th>{f:translate(key: 'tx_irontop10deals_domain_model_deal.completeddate')}</th>
        <th>{f:translate(key: 'tx_irontop10deals_domain_model_deal.targetname')}</th>
        <th>{f:translate(key: 'tx_irontop10deals_domain_model_deal.targetcountry')}</th>
        <th>{f:translate(key: 'tx_irontop10deals_domain_model_deal.acquirorname')}</th>
        <th>{f:translate(key: 'tx_irontop10deals_domain_model_deal.acquirorcountry')}</th>
        <th>{f:translate(key: 'tx_irontop10deals_domain_model_deal.vendorname')}</th>
        <th>{f:translate(key: 'tx_irontop10deals_domain_model_deal.dealtype')}</th>
    </tr>
</thead>