<tr>
    <td><p>{incrementer}</p></td>
    <td><p>{deal.dealvalue -> f:format.number(decimals: 2)}{f:if(condition: deal.footnote, then: deal.footnote)}</p></td>
    <td>
        <p>
            <f:format.date>{deal.completeddate}</f:format.date>
        </p>
    </td>
    <td><p>{deal.targetname}</p></td>
    <td><p>{deal.targetcountry.isoCodeA2}</p></td>
    <td><p>{deal.acquirorname}</p></td>
    <td><p>{deal.acquirorcountry.isoCodeA2}</p></td>
    <td><p>{deal.vendorname}</p></td>
    <td><p>{deal.dealtype}</p></td>
</tr>
