<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-iron-teammembers" >
	<tr>
		<td>
			<f:translate key="tx_ironteammembers_domain_model_member.name" />
		</td>
		<td>
		{member.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ironteammembers_domain_model_member.photo" />
		</td>
		<td>
				<f:image src="{member.photo.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ironteammembers_domain_model_member.biography" />
		</td>
		<td>
		{member.biography}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ironteammembers_domain_model_member.email" />
		</td>
		<td>
		{member.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ironteammembers_domain_model_member.xing" />
		</td>
		<td>
		{member.xing}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ironteammembers_domain_model_member.linkedin" />
		</td>
		<td>
		{member.linkedin}
		</td>
	</tr>
</table>
</html>