<table>
    <tr>
        <td>
            {f:translate(key: 'tx_ironstudies_domain_model_study.first_name')}
        </td>
        <td>
            {order.firstName}
        </td>
    </tr>
    <tr>
        <td>
            {f:translate(key: 'tx_ironstudies_domain_model_study.last_name')}
        </td>
        <td>
            {order.lastName}
        </td>
    </tr>
    <tr>
        <td>
            {f:translate(key: 'tx_ironstudies_domain_model_study.company')}
        </td>
        <td>
            {order.company}
        </td>
    </tr>
    <tr>
        <td>
            {f:translate(key: 'tx_ironstudies_domain_model_study.email')}
        </td>
        <td>
            {order.email}
        </td>
    </tr>
    <f:if condition="{order.message}">
        <tr>
            <td>
                {f:translate(key: 'tx_ironstudies_domain_model_study.text')}
            </td>
            <td>
                {order.message}
            </td>
        </tr>
    </f:if>
</table>