<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="main">
    <section class="grey top10">
        <div class="container">
            <div class="row sectionTitle">
                <div class="col-xs-12">
                    <f:if condition="{settings.title}">
                        <h2>{settings.title}</h2>
                    </f:if>
                    {v:variable.set(name: 'incrementer', value: 1)}
                    <table>
                        <f:render partial="Deal/Header" arguments="{_all}"/>
                        <f:for each="{deals -> v:iterator.chunk(count: 1)}" as="chunk">
                            <tbody>
                                <f:for each="{chunk}" as="deal" iteration="i">
                                    <f:render partial="Deal/Row" arguments="{_all}"/>
                                    {v:variable.set(name: 'incrementer', value: '{v:math.sum(a: incrementer, b: 1)}')}
                                </f:for>
                            </tbody>
                        </f:for>
                    </table>
                </div>
            </div>
        </div>
    </section>
</f:section>
</html>
