<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="main">
    <section class="homeSection grey tableContainer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <f:if condition="{settings.title}">
                        <h2>{settings.title}</h2>
                    </f:if>
                    <div class="table">
                        <div class="table__headers">
                            <p>{f:translate(key: 'tx_irontop10deals_domain_model_deal')}</p>
                            <p>{f:translate(key: 'tx_irontop10deals_domain_model_deal.value_in_millions')}</p>
                        </div>
                        <f:for each="{deals}" as="deal" iteration="i">
                            <div class="table__item">
                                <p class="title">{i.cycle}. {deal.dealtype}</p>
                                <span>&nbsp;|&nbsp;</span>
                                <p>{deal.targetname}</p>
                                <p class="value">{deal.dealvalue}</p>
                            </div>
                        </f:for>
                    </div>
                    <f:link.action pageUid="{settings.detailPid}" class="icon arrow-right-small" action="list">{f:translate(key: 'tx_irontop10deals_domain_model_deal.detail')}</f:link.action>
                </div>
            </div>
        </div>
    </section>
</f:section>
</html>