<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="main">
    <section class="homeSection">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <f:if condition="{settings.title}">
                        <h2>{settings.title}</h2>
                    </f:if>
                    <div class="twitterFeed">
                        <f:for each="{tweeties}" as="tweet">
                            <!-- start: Twitter Item -->
                            <div class="twitterFeed__item">
                                <figure>
                                    <a href="https://twitter.com/{settings.username}">
                                        <img src="{tweet.user.profile_image_url_https}"/>
                                    </a>
                                </figure>
                                <f:if condition="{tweet.user.name}">
                                    <h3>{tweet.user.name}</h3>
                                </f:if>
                                <f:if condition="{tweet.text}">
                                    <p>
                                        <a href="https://twitter.com/iron_ag/status/{tweet.id_str}" target="_blank">
                                            {tweet.text}
                                        </a>
                                    </p>
                                </f:if>
                                <f:if condition="{tweet.created_at}">
                                    <p>
                                        <f:format.date format="d.m.Y | H:i:s">{tweet.created_at}</f:format.date>
                                    </p>
                                </f:if>
                            </div>
                            <!-- end: Twitter Item -->
                        </f:for>
                    </div>
                </div>
            </div>
        </div>
    </section>
</f:section>
</html>